html {
  max-width: 720px;
  margin: 0 auto;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

div:has(>.fadeOut)>div {
  animation: fadeOut 0.3s forwards;
}

.fadeIn {
  animation: fadeIn 0.3s forwards;
}